<h1><%=@user.name%></h1>
<h2><%=@user.title%></h2>

<div>
  <p><h3>Your Committees</h3></p>
  <form method="post" action="/board-members/<%=@user.slug%>/committees">
    <input type="hidden" name="_method" id="hidden" value="patch">

    <%@committees.each do |committee|%>
      <p>
        <input type="checkbox" name="committees[]" id="<%=committee.name%>" value="<%=committee.id%>" <%if @user.committee_ids.include?(committee.id)%>checked<%end%>><%=committee.name%></input>
      </p>
    <%end%>
    <p>
      <label for="new_committee">New Committee: </label><input type="text" name="new_committee" id="new_committee">
    </p>
    <p>
      <input type="submit" id="Save Changes" value="Save Changes">
    </p>
  </form>
</div>
