<h1><%=@committee.name%></h1>
<form method="post" action="/committees/<%=@committee.slug%>">
  <input type="hidden" name="_method" id="hidden" value="patch">
  <%@members.all.each do |member|%>
    <p>
      <input type="checkbox" name="members[]" id="<%=member.name%>" value="<%=member.id%>" <%if @committee.member_ids.include?(member.id)%>checked<%end%>><%=member.name%></input>
    </p>
  <%end%>
  <input type="submit" id="Update Committee" value="Update Committee">
</form>
<p>
<form method="post" action="/committees/<%=@committee.slug%>/delete">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete Committee">
</form>
</p>
