<h2><%=@committee.name%></h2>
<%if logged_in? && current_user == @committee.board_member%>
  <a href="/committees/<%=@committee.slug%>/edit">Add members</a>
<%end%>
  <%@committee.members.each do |member|%>
    <p>
      <ul class="contact">
        <li><%=member.name%> <a href="/members/:slug/edit" class="edit">edit</a></li>
        <li><%=member.phone%></li>
        <li><%=member.email%></li>
        <li><%=member.address%></li>
      </ul>
    </p>
  <%end%>
